@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Examen Técnico Lennken Group</h1>
    <p class="lead">En este sistema se realiza un CRUD completo para la entidad Empleado, utilizando servicios REST y Javascript para el consumo de estos.</p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Modulo Empleado</h2>
        <p>
            Este modulo nos permite  Crear, Actualizar, Mostrar y Eliminar a cualquier empleado.
        </p>
       
    </div>

</div>